.links line {
	stroke-width: 2px;
	stroke: gray;

}

.nodes circle {
	stroke: white;
	stroke-width: 1px;
}


th, td ,label, li{
    padding: 1px;
}

th {
    text-align: left;
}

#hon_diagram {
  float: left;
  width: 32%;
}

#full_sunburst {
  float: left;
  width: 32%;
}

#sankey_diagram {
  float: left;
  width: 32%;
}

#sun_path {
  stroke: #fff;
  stroke-width: 1px;
}

text {
  fill: white;
  font: 15px sans-serif;
  text-anchor: end;

}

#active_sequence {
	width: 400px;
	border-collapse: collapse;
	display:inline-block;
}

#dialog-window {
	float: left;
	width: 32%;
  	height: 475px;
	display:inline-block;
}

#non-scrollable-content {
	height: 75px;
}

#scrollable-content {
  height: 400px;
  overflow: auto;
}
#hon_info {
	float: right;
	width: 32%;
}
.node rect {
		cursor: move;
		fill-opacity: .9;
		shape-rendering: crispEdges;
}

.node text {
		pointer-events: none;
		text-shadow: 0 1px 0 #000;
}

.link {
	fill: none;
	stroke: #000;
}

.link:hover {
		stroke-opacity: .5;
}

.scrollable-content {
  height: 275px;
  overflow: auto;
  width: 200px;
  float: left; 
}
.sankey_sequence {
  display: block;
}


